In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("lab04A.ipynb")

In [2]:
from resources.hashutils import *

---

<h3><center>E7 -  Introduction to Programming for Scientists and Engineers</center></h3>

<h2><center>Lab session #04-A <br></center></h2>

<h1><center>Strings<br></center></h1>

---

# Question 1: Bank statement

In this problem we will create a bank statement from a list of transactions. The list is provided to us in the form of a string:

In [3]:
flat_string='1,5,2024,ATM Withdrawal,w,50;1,10,2024,paycheck,d,2500;1,15,2024,groceries,w,93.85;1,20,2024,clothes,w,75;1,25,2024,entertainment,w,25.50'

The next few questions will guide you through the process of transforming the flat string into a nicely formatted bank statement.

## Question 1.1: Split the string at semicolons (';') to obtain a list of transactions.

In [4]:
transactions = flat_string.split(";")
transactions

['1,5,2024,ATM Withdrawal,w,50',
 '1,10,2024,paycheck,d,2500',
 '1,15,2024,groceries,w,93.85',
 '1,20,2024,clothes,w,75',
 '1,25,2024,entertainment,w,25.50']

In [5]:
grader.check("q1p1")

q1p1 results: All test cases passed!

## Question 1.2: Split the first transaction into its parts.

Again use the string's [`split`](https://docs.python.org/3.3/library/stdtypes.html#str.split) method to split the first entry in `transactions` into 6 separate strings. Call these `month`, `day`, `year`, `itemtype`, `w_or_d`, and `amount`.

In [6]:
month,day,year,itemtype,w_or_d,amount = transactions[0].split(",")

In [7]:
grader.check("q1p2")

q1p2 results: All test cases passed!

## Question 1.3: Convert the day, month, and year to integers

Create new names `day_int`, `month_int`, and `year_int` for the numerical versions of these three strings.

In [8]:
day_int = int(day)
month_int = int(month)
year_int = int(year)

In [9]:
grader.check("q1p3")

q1p3 results: All test cases passed!

## Question 1.4: Convert w_or_d to a boolean,

Call this boolean `is_withdrawal`. Its value should be `True` if the transaction was a withdrawal and `False` if it was deposit.

In [10]:
transactions[0]

'1,5,2024,ATM Withdrawal,w,50'

In [11]:
    if w_or_d == "w": 
        is_withdrawal = True
    
    if w_or_d == "d":
        is_withdrawal = False

In [12]:
grader.check("q1p4")

q1p4 results: All test cases passed!

## Question 1.5: Convert the amount to a float.

Name it `amount_float`.

In [13]:
amount

'50'

In [14]:
amount_float = float(amount)

In [15]:
grader.check("q1p5")

q1p5 results: All test cases passed!

## Question 1.6: Process all transactions. Track the balance.

Write a function that applies steps 1.2 through 1.5 to each of the transactions in the list. This function takes two inputs: the raw transactions string (`flat_string` in part 1.1), and an initial balance. The output of this function is a list of tuples. Each tuple gathers information for a particular transaction. The tuple consists of:
```python
(day_int,month_int,year_int,is_withdrawal,amount_float,balance)
```

In [16]:
def build_transactions_list(flat_string,initial_balance):

    # initialize the balance
    balance = initial_balance

    # split the input string
    transactions = flat_string.split(";")

    # create an empty list
    transactions_list = []

    for transaction in transactions:

        # split the entry
        month,day,year,itemtype,w_or_d,amount = transaction.split(",")

        # type conversions
        day_int = int(day)
        month_int = int(month)
        year_int = int(year)
        for w_or_d in transaction:
            if w_or_d == "w":
                is_withdrawal = True
            
            if w_or_d == "d":
                is_withdrawal = False
        
        amount_float = float(amount)
        
        # update the balance
        if is_withdrawal == True:
            balance -= amount_float
        if is_withdrawal == False:
            balance += amount_float

        # append this information to transactions_list
        
        transaction_tuple = day_int,month_int,year_int,is_withdrawal,amount_float,balance
        transactions_list.append(transaction_tuple)

    return transactions_list

In [17]:
grader.check("q1p6")

q1p6 results: All test cases passed!

## Question 1.7: Format the bank statement. 

The final task is to create a nicely formatted statement to present to the customer. Your job is to write a function that transforms a list of transactions built with the `build_transactions_list` function into a list of strings as shown below. 

<img src="resources/bank_statement.png" width="800" />

The statment has these lines:

1. The name line has the string "Name:" followed by a space and the name of the customer. 
2. An empty string.
3. A separator line consisting of 53 dashes `-`.
4. A header. The parts of the header are:
    + The word `Date`, right justified in a string of width 12.
    + The word `Deposit`, right justified in a string of width 12.
    + The word `Withdrawal`, right justified in a string of width 12.
    + The word `Balance`, right justified in a string of width 12.
    + Each of these are separated by a `|` character.
5. Another separator line.
6. The list of transactions. Notice the formatting of each column. Notice also that the formatting is different for deposits and withdrawals. 
7. A final separator line.

You can check your solution against the image using the `pprint` function in the cell following the next one.

In [18]:
def format_statement(customer_name,transactions_list):

    WIDTH = 53 # This is the total width of the statement. 
               # and the number of dashes in the separator line.

    # Initialize and empty list of lines
    lines =[]

    # line 1: customer name
    lines.append(f"Name: {customer_name}")

    # line 2: empty
    lines.append("")

    # line 3: separator (Hint: multiply a string by an integer)
    lines.append("-"* WIDTH)

    # line 4: header
    lines.append(f"|{'Date':>12}|{'Deposit':>12}|{'Withdrawal':>12}|{'Balance':>12}|")

    # line 5: another separator
    lines.append("-"* WIDTH)

    # transaction lines
    for transaction in transactions_list:

        # unpack the transaction
        day,month,year,is_withdrawal,amount,balance=transaction

        # format the date string
        datestr =f"{month}/{day:>2}/{year}"

        # create a transaction line depending on withdrawal or deposit
        if is_withdrawal == True:
            transaction_line =f"|{datestr:>12}|{'':12}|{amount:>12.2f}|{balance:>12.2f}|"
        else:
            transaction_line =f"|{datestr:>12}|{amount:>12.2f}|{'':12}|{balance:>12.2f}|"
        # append it to lines
        lines.append(transaction_line)
    # final separator
    lines.append("-"* WIDTH)

    return lines

In [19]:
from pprint import pprint

customer_name = 'Ismat Vandale'
transactions_list = build_transactions_list(flat_string,1000)
lines = format_statement(customer_name,transactions_list)
pprint(lines)

['Name: Ismat Vandale',
 '',
 '-----------------------------------------------------',
 '|        Date|     Deposit|  Withdrawal|     Balance|',
 '-----------------------------------------------------',
 '|   1/ 5/2024|            |       50.00|      950.00|',
 '|   1/10/2024|     2500.00|            |     3450.00|',
 '|   1/15/2024|            |       93.85|     3356.15|',
 '|   1/20/2024|            |       75.00|     3281.15|',
 '|   1/25/2024|            |       25.50|     3255.65|',
 '-----------------------------------------------------']

In [20]:
grader.check("q1p7")

q1p7 results: All test cases passed!

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [21]:
grader.check_all()

q1p1 results: All test cases passed!

q1p2 results: All test cases passed!

q1p3 results: All test cases passed!

q1p4 results: All test cases passed!

q1p5 results: All test cases passed!

q1p6 results: All test cases passed!

q1p7 results: All test cases passed!

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

Make sure you submit the .zip file to Gradescope.

In [22]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False)